html {
    scroll-behavior: smooth;
}

/* NAVBAR */
.logo-img {
    height: 70px;
}

.custom-navbar {
    padding: 6px 0;
}

/* HEADER IMAGE */
.header-image-container {
    width: 100%;
    height: 400px;
    position: relative;
    margin-top: 80px;
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caption-text {
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 10px black;
}

/* ABOUT + SERVICE IMAGES */
.about-img,
.service-img,
.contact-img {
    max-width: 450px;
    border-radius: 10px;
}

/* SMALL CARD DESIGN */
.small-card {
    height: 250px;
    border-radius: 10px;
    transition: 0.2s;
}

.small-card:hover {
    transform: scale(1.04);
}

.small-card-img {
    height: 120px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.small-card-text {
    font-size: 13px;
    color: #555;
}

/* FOOTER */
.footer-section {
    padding: 15px 0;
}
/* GLOBAL */
body {
  background-color: #1f1f1f;
  color: white;
}

h1, h2, h3, h4, h5, h6, p, a, label {
  color: white;
}

/* NAVBAR */
.navbar {
  background-color: #000;
}

/* HEADER */
.page-header {
  background-color: #2b2b2b;
}

/* DARK SECTIONS */
.dark-section {
  background-color: #2b2b2b;
}

/* CARDS */
.card {
  background-color: #2a2a2a;
  color: white;
  border: none;
}

.contact-card {
  padding: 20px;
  border-radius: 10px;
}

/* BUTTON */
.btn-primary {
  background-color: #007bff;
  border: none;
}

/* FOOTER */
footer {
  background-color: #000;
}

